.root{
    flex-grow: 1;
}

.tabs{
    font-size: 12;
    color: #5f6368;
    text-transform: capitalize;
    height: 10;
    font-weight: 600;
    font-family: Google Sans, Arial, Helvetica, sans-serif;
}

.tabss{
    height: 10px;
}